@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was developed using:</p>
<ul>
    <li>ASP.NET MVC 5</li>
    <li>Code-first approach using Entity Framework 6</li>
    <li>LINQ query logic in controller using EF6</li>
    <li>Session state management for Login system</li>
    <li>ViewModels to provide an extra layer of abstraction</li>
    <li>Custom model validation, including Remote validation attributes to check uniqueness against database</li>
</ul>

<p>Features of this application include:</p>
<ul>
    <li>Register and login to account</li>
    <li>Upload photos</li>
    <li>Comment on photos</li>
</ul>

<p>Please feel free to explore the application's features!</p>