@{
    ViewBag.Title = "Welcome to PhotoSocial";
}

<p class="lead">Create an account to instantly share your favourite moments with everyone.</p>

<h2>Latest Photos:</h2>

@*@Html.Action("PhotoGallery", "Photos", new { number = 3})*@