#photo-gallery{
    margin: 10px 50px;
}

#display-label {
    display: inline-block;
    width: 150px;
    margin: 2px;
}

#display-field {
    width: 350px;
    margin: 2px;
}

.photo-display-img {
    width: 550px;
    max-height: 600px;
    padding: 5px;
    transition: 1s;
}


.photo-display-img :hover {
    transform: scale(1.1);
}
