* {
    box-sizing: border-box;
}

.photo-container {
    margin: 20px 10px;
}

.photo-container::after {
    content: "";
    clear: both;
    display: table;
}

#photo-gallery {
    border: 2px solid black;
    margin: 10px 80px;
    padding: 10px;
    float: left;
    width: 33.33%;
}

#photo-gallery img {
    width: 350px;
    height: 400px;
    padding: 5px;
    transition: 1s;
}

#photo-gallery img:hover {
    transform: scale(1.1);
}

#display-label {
    display: inline-block;
    width: 150px;
    margin: 2px;
}

#display-field {
    width: 350px;
    margin: 2px;
}

#photo-comment {
    border: 2px solid grey;
    padding: 15px;
    margin: 0px 5px 25px;
}